@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,700);

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #AEDAA6;
  font-family: "Raleway";
  color: rgb(80, 101, 78);
}

h1, h2 {
  text-transform: uppercase;
  font-weight: 500;
}

p {
  font-size: 12px;
  line-height: 20px;
  padding: 20px 0;
  margin: 0;
}

i, .icon {
  color: #81C077;
}

.btn {
  background: none;
  border: none !important;
  border-radius: none !important;
  color: #515151;
  text-transform: uppercase;
  font-family: inherit;
  transition: all 0.3s ease;
  font-weight: 500;

  &:hover {
    color: #aedaa6;
    cursor: pointer;
  }
}
